.page-header {
    background-color: rgb(75,0,0);
    margin-top: 0;
    padding: 20px 20px 15px 20px;
    border-color: #FF0000;
    border-bottom-style: double;
    border-width: 10px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    font-size: 220%;
    color: red;
    font-weight: bold;
    font-family: Catamaran;
}

html, body {
    background-color: rgb(255,230,230);
    height: 100%;
}

.blogs {
    margin-top: -16px;
}

.content {
    margin-left: 30px;
}

h2 {
    color: red;
    font-weight: bold;
    font-family: Catamaran;
}

.save, .edit, .save a, .edit a {
    float: right;
    font-family: Pavanam;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.post {
    margin-bottom: 28px;
    color: #A02828;
    border-bottom-style: solid;
    border-width: thin;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: rgb(255,0,0);
    float: right;
    font-size: 21pt;
    margin-right: 20px;
}

.text {
    color: #320000;
    font-family: Aclonica;
}

.date {
    color: #A02828;
    font-family: Aclonica;
}

.post h2 a, .post h2 a:visited, footer a {
    color: red;
}

.earlier, .earlier a, .earlier a:hover, .earlier a:visited, .scroll a {
    margin-top: -15px;
    color: red;
    font-family: Catamaran;
    font-size: 14px;
}

.previous {
    float: left;
}

.next {
    float: right;
}

footer {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 20px;
    font-size: 15px;
    font-family: Catamaran;
}
